body{
    background-color: rgb(0, 38, 255);
}

#circle{
    border-radius: 100%;
    background-color: gray;
    width: 300px;
    height: 300px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}

h1{
    height: max-content;
    width: max-content;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Roboto' , sans-serif;
    color: white;
}

div::before{
    content: "";
    border: 15px solid white;
    border-radius: 100%;
    border-top-color: red;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div:hover::before{
    transform: rotate(360deg);
    transition-duration: 3s;
}